@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root{
    --light-square: #f0d9b5;
    --dark-square: #b58863;
    --square-size: 0;
    --board-size: 848px;
}